:root {
    --semi-white: #e9fff9;
    --blue-one:#9ed8db;
    --blue-two: #467599;
    --blue-three: #1d3354;
    --red: #d64045;
}

*{
    font-family: "gasoek one", sans-serif;
    margin: 0;
    padding: 0;

}

body {
    background-color:var(--semi-white);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

header h1 {
    display:block;
    font-weight: 300;
    color:var(--blue-two);
    margin-bottom:1rem;
}

header input  {
    height:1.5rem;
    border-radius:0.5rem;
    border:var(--blue-two) solid 1px;
    font-weight: 200;
    color:var(--blue-three);
    padding:0.5rem;
}

header button {
    font-family:"alfa slab one", serif;
    border-radius:1rem;
    padding:0.2rem;
    border:none;
    height:2.5rem;
    font: weight 300px;;
    background-color:var(--blue-two);
    color:var(--semi-white);
}

header button:hover {
    cursor:pointer;
    background-color:var(--blue-three);
    color:var(--semi-white);
}

#tarefa {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 15rem;
    background-color:var(--blue-two)
}

#tarefa h3{
    font-weight: 300;
    color:var(--semi-white);
}

#tarefa button {
    padding:0rem;
    background-color:var(--semi-white);
    border-radius:100%;
    border:2px solid var(--semi-white);

}

#tarefa img {
    width:2rem;
    height:1.8rem;
}

#edteexc {
    display:flex;
    align-items:center;
}