:root {
    --semi-white: #e9fff9;
    --blue-one:#9ed8db;
    --blue-two: #467599;
    --blue-three: #1d3354;
    --red: #d64045;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color:var(--semi-white);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

header h1 {
    display:block;
    color:var(--blue-two);
}

header input  {
    height:1.5rem;
    border-radius:0.5rem;
    border:var(--blue-two) solid 1px;
}

header button {
    border-radius:1rem;
    border:none;
    height:2.5rem;
    font-weight:bold;
    background-color:var(--blue-two);
    color:var(--semi-white);
}

header button:hover {
    cursor:pointer;
    background-color:var(--blue-three);
    color:var(--semi-white);
}

.input {
    display:flex;
    align-items:center;
    justify-content:center;
}

.tarefa {
    
}